@import url("sections/navbar.css");
@import url("sections/hero.css");
@import url("sections/storage.css");
@import url("sections/trading.css");
@import url("sections/consign.css");
@import url("sections/marketplace.css");
@import url("sections/cleanRestore.css");
@import url("sections/newsletter.css");
@import url("sections/footer.css");
@import url("sections/media-queries.css");
@import url("sections/utilities.css");
@import url("sections/mobile.css");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Outfit", sans-serif;
  color: #16181d;
  text-decoration: none;
  border: none;
  outline: none;
}

:root {
  --primary-color: #16181d;
  --gap-size: 2.7rem;
  --nav-gap: calc(100vw - 23%);
}
