.consign {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  /* padding: 0 0 10rem 0; */
  gap: 5rem;
}

.consignImg__container {
  position: relative;
  margin-right: -50px;
}

.consignImg {
  /* width: 25vw; */
  /* position: absolute; */
  /* right: 50px; */
  width: 90%;
  min-width: 250px;
  /* margin-right: -990px; */
  /* top: 50px; */
  z-index: -1;
}

.consignIntroText {
  position: relative;
  right: -4px;
}

.consignText__container {
  /* transform: translateY(-30px); */
  /* margin-left: 30px; */
  width: 50%;
}

.img__container .content__images.mobileConsignImg {
  /* width: 250px; */
}
