.newsletter {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 0rem 0rem 8rem 0rem;
  margin: -5rem 3rem 3rem 3rem;
}
.newsletter .intro__text {
  margin-top: 20px;
}

.email__form {
  min-width: 500px;
  margin-top: 40px;
  padding: 24px 24px 24px 24px;
  display: flex;
  border-radius: 46px;
  gap: 1rem;

  border: 1px solid var(--primary-color);
}

.email__form input {
  flex: 1;
  border: none;
  outline: none;
  font-size: 1.4rem;
}
.email__form input::placeholder {
  letter-spacing: 1.5px;
  font-size: 1.2rem;
}

.email__form .classic {
  padding: 10px 20px;
  font-size: 20px;
  font-weight: 500;
  border: 1px solid var(--primary-color);
}
