.trading {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}

.tradingText__container {

  width: 50%;
}
.intro__text.tradingIntro__text {

  width: 100%;
}

