a {
  position: relative;
}

.overflow {
  overflow: hidden;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 10rem;
  letter-spacing: 1.5px;
  justify-content: center;
  align-items: center;
  /* border: 2px solid red; */
  margin: 0rem 8rem 0rem 8rem;
}

.content__container {
  /* margin: 3rem 9rem 3rem 9rem; */
  /* gap: 2rem; */
  /* width: 90%; */
}

.verticalLine {
  width: 2px;
  height: 340px;
  transform: rotate(180deg);
  background: var(--primary-color);
  z-index: 5;
}

.contentText__container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-top: -25px;
  letter-spacing: 1.5px;
}

.flexItemReverse {
  justify-content: flex-start;
}

.section__header {
  font-size: calc(7vw + 3px);
  font-weight: 700;
  letter-spacing: 10px;
}

.service__text {
  margin-top: 2px;
}

button.classic {
  background: white;
  border: 2px solid var(--primary-color);
  color: var(--primary-color);
  border-radius: 3rem;
  cursor: pointer;
  padding: 20px;
  font-weight: 600;
  letter-spacing: 1.5px;
  font-size: 1.4rem;
  overflow: hidden;
}

.classic::after {
  background-color: var(--primary-color);
  border-radius: 3rem;
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  transform: translate(-100%, 0) rotate(10deg);
  transform-origin: top left;
  transition: 0.2s transform ease-out;
  will-change: transform;
  z-index: -1;
  opacity: 0;
}
.classic:hover::after {
  transform: translate(0, 0);
  opacity: 1;
}
.classic:hover {
  outline: 2px solid transparent;
  color: white;
  will-change: transform;
}

.content__btn .biggerBtn:hover {
  color: white;
}

.content__btn {
  margin-top: 16px;
}

.intro__text {
  font-weight: 500;
  font-size: 1.4rem;
  width: 95%;
}

.content__images {
  width: 100%;
}

.mobileContentImgContainer {
  display: none;
}

.char {
  transform: translateY(110px);
  transition: transform 0.5s;
  opacity: 0;
}

.img__container {
  width: 40%;
  /* border: 2px solid red; */
}
